#weight {
	list-style: none;
	text-align: center;
}

/* -----------------------------------------
   Weight Input
----------------------------------------- */

#weightNumber {
	height: 42px;
	margin-bottom: 18px;
	font-size: 18px;
}