/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
/* line 9, app.scss */
a {
  cursor: pointer;
}

/* line 13, app.scss */
a:active {
  background: #fff;
}

/* line 17, app.scss */
.button {
  margin-bottom: 0;
}

/* -----------------------------------------
   Nav
----------------------------------------- */
/* line 1, ../js/modules/global/nav.scss */
#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  max-width: none;
}

/* line 9, ../js/modules/global/nav.scss */
#nav .mobile-two {
  padding: 15px;
}

/* -----------------------------------------
   Header
----------------------------------------- */
/* line 1, ../js/modules/global/header.scss */
#header {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 6, ../js/modules/global/header.scss */
#header > div {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* -----------------------------------------
   Input
----------------------------------------- */
/* line 1, ../js/modules/global/input.scss */
#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  max-width: none;
}

/* line 9, ../js/modules/global/input.scss */
#nav .mobile-two {
  padding: 15px;
}

/* -----------------------------------------
   Home
----------------------------------------- */
/* line 1, ../js/modules/home/style.scss */
#exercises {
  list-style: none;
  margin-bottom: 100px;
}

/* line 6, ../js/modules/home/style.scss */
#exercises > li {
  border-bottom: 1px #dbebf1 solid;
}

/* line 10, ../js/modules/home/style.scss */
#exercises > li > a.title {
  font-size: 24px;
  cursor: pointer;
  display: block;
  float: left;
  width: 90%;
  padding: 4px;
}

/* line 19, ../js/modules/home/style.scss */
#exercises > li > .delete {
  float: right;
  font-size: 24px;
  width: 20px;
  text-align: center;
}

/* -----------------------------------------
   Exercise
----------------------------------------- */
/* line 1, ../js/modules/exercise/style.scss */
#exercise {
  margin-bottom: 170px;
  list-style: none;
}

/* line 6, ../js/modules/exercise/style.scss */
#exercise > li {
  margin-bottom: 10px;
}

/* line 10, ../js/modules/exercise/style.scss */
#exercise > a {
  margin-bottom: 20px;
}

/* line 15, ../js/modules/exercise/style.scss */
#exercise li,
#exercise div {
  font-size: 19px;
  text-align: center;
}

/* line 20, ../js/modules/exercise/style.scss */
.delete {
  font-weight: bold;
}

/* -----------------------------------------
   Exercise Input
----------------------------------------- */
/* line 28, ../js/modules/exercise/style.scss */
#input {
  background-color: #fff;
  position: fixed;
  max-width: none;
  bottom: 46px;
  width: 100%;
  margin: 0 0 -3px 0;
  /* overlap */
}

/* line 37, ../js/modules/exercise/style.scss */
#input #exerciseInput {
  margin-top: 10px;
  height: 42px;
  font-size: 18px;
}

/* line 43, ../js/modules/exercise/style.scss */
#submit.lift {
  margin-top: 10px;
  width: 100%;
}

/* line 48, ../js/modules/exercise/style.scss */
#submit.exercise {
  margin-bottom: 10px;
}

/* -----------------------------------------
   Weight
----------------------------------------- */
/* line 1, ../js/modules/weight/style.scss */
#weight {
  list-style: none;
  text-align: center;
}

/* -----------------------------------------
   Weight Input
----------------------------------------- */
/* line 10, ../js/modules/weight/style.scss */
#weightNumber {
  height: 42px;
  margin-bottom: 18px;
  font-size: 18px;
}
