/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


a {
	cursor: pointer;
}

a:active {
	background: #fff;
}

.button {
	margin-bottom: 0;
}

/* -----------------------------------------
   Nav
----------------------------------------- */
@import "../js/modules/global/nav.scss";
/* -----------------------------------------
   Header
----------------------------------------- */
@import "../js/modules/global/header.scss";
/* -----------------------------------------
   Input
----------------------------------------- */
@import "../js/modules/global/input.scss";
/* -----------------------------------------
   Home
----------------------------------------- */
@import "../js/modules/home/style.scss";
/* -----------------------------------------
   Exercise
----------------------------------------- */
@import "../js/modules/exercise/style.scss";

/* -----------------------------------------
   Weight
----------------------------------------- */
@import "../js/modules/weight/style.scss";
#weight {
	list-style: none;
	text-align: center;
}

/* -----------------------------------------
   Weight Input
----------------------------------------- */

#weightNumber {
	height: 42px;
	margin-bottom: 18px;
	font-size: 18px;
}