#exercises {
	list-style: none;
	margin-bottom: 100px;
}

#exercises > li {
	border-bottom: 1px #dbebf1 solid;
}

#exercises > li > a.title {
	font-size: 24px;
	cursor: pointer;
	display: block;
	float: left;
	width: 90%;
	padding: 4px;
}

#exercises > li > .delete {
	float: right;
	font-size: 24px;
	width: 20px;
	text-align: center;
}