<div class="large-3 small-3 columns">
  Date
</div>
<div class="large-3 small-3 columns">
  Reps
</div>
<div class="large-3 small-3 columns">
  Weight
</div>
<div class="large-3 small-3 columns">

</div>