<div class="three mobile-one columns">
  Date
</div>
<div class="three mobile-one columns">
  Reps
</div>
<div class="three mobile-one columns">
  Weight
</div>
<div class="three mobile-one columns">

</div>