<div class="six mobile-two columns">
	Reps<input id="reps" type="number">
</div>

<div class="six mobile-two columns">
	Weight<input id="weight" type="number">
</div>

<div class="six mobile-two columns">
	<input type="submit" id="submit" class="exercise button right">
</div>