<div class="large-6 small-6 columns">
	Reps<input id="repsInput" type="number">
</div>

<div class="large-6 small-6 columns">
	Weight<input id="weightInput" type="number">
</div>

<div class="large-6 small-6 columns">
	<input type="submit" id="submit" class="exercise button right">
</div>