<div class="large-3 small-3 columns">
	<%= dates %>
</div>
<div class="large-3 small-3 columns">
	<%= reps %>
</div>
<div class="large-3 small-3 columns">
	<%= weight %>
</div>
<div class="large-3 small-3 columns">
	<a class="delete">x</a>
</div>